{% extends "WSAdminBundle::base.html.twig" %}


{% block body %}

    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-9 col-xs-12 col-md-offset-3">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo Pambé">
                </div>
            </div>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <div class="count" id="count_users">0</div>
                        <h3>Users</h3>
                        <p>Lorem ipsum psdea itgum rixt.</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-street-view"></i></div>
                        <div class="count" id="count_freelances">0</div>
                        <h3>Freelances</h3>
                        <p>Lorem ipsum psdea itgum rixt.</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-user"></i></div>
                        <div class="count" id="count_clients">0</div>
                        <h3>Clients</h3>
                        <p>Lorem ipsum psdea itgum rixt.</p>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-archive"></i></div>
                        <div class="count" id="count_missions">0</div>
                        <h3>Missions</h3>
                        <p>Lorem ipsum psdea itgum rixt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            function refreshCounter() {
                console.log("ok");
                $.ajax({
                    type: 'get',
                    url: Routing.generate('admin_counter', {_locale: "fr"}),
                    beforeSend: function () {
                        $("#count_users").html('<img src="{{ asset('images/loading.gif') }}">');
                        $("#count_freelances").html('<img src="{{ asset('images/loading.gif') }}">');
                        $("#count_clients").html('<img src="{{ asset('images/loading.gif') }}">');
                        $("#count_missions").html('<img src="{{ asset('images/loading.gif') }}">');
                    },
                    success: function (data) {
                        var result = data.response;
                        console.log(result);
                        $("#count_users").html(result.count_users);
                        $("#count_freelances").html(result.count_freelances);
                        $("#count_clients").html(result.count_clients);
                        $("#count_missions").html(result.count_missions);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }

            setInterval(function () {
                refreshCounter();
            }, 20000);

        });
    </script>
{% endblock %}