{% extends '::base.html.twig' %}

{% block main %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('ws_core_homepage') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo Pambé">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="text-menu"><a href="{{ path('ws_core_homepage') }}">Accueil</a></li>
                    <li class="text-menu"><a href="{{ path('ws_core_how_to') }}">Comment ça marche ?</a></li>

                    <form class="navbar-form navbar-left">
                        <a href="{{ path('ws_project_create_index') }}" class="new-mission btn btn-pink btn-sm">
                            <i class="fa fa-plus-circle"></i> Deposer un projet</a>
                    </form>
                    <form id="form_search" action="#" class="navbar-form navbar-left" autocomplete="off">
                        <div class="input-group">
                            <input type="text" name="valSearch" class="form-control input-sm"
                                   placeholder="Valeur à rechercher...">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle btn-green btn-sm"
                                        data-toggle="dropdown">Rechercher <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><input id="project" type="submit" value="Rechercher un projet" class="btn btn-default"/></li>
                                    <li><input id="freelance" type="submit" value="Rechercher un freelance" class="btn btn-default"/></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </form>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                                {#{{ app.user.prenom }} {{ app.user.nom }}<span class="caret"></span>#}
                                <img alt="" src="{{ asset('images/avatar.png') }}" class="img-circle img-responsive"
                                     style="height: 30px; width: 30px;">
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Tableau de bord</a></li>
                                <li><a href="{{ path('fos_user_profile_show') }}">Mon Profil</a></li>
                                <li><a href="#">Mon Compte</a></li>
                                <li><a href="#">Mes projets</a></li>
                                <li class="divider"></li>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <li>
                                        <a href="{{ path('ws_admin_homepage') }}">Administration Pambé</a></li>
                                    </li>
                                    <li class="divider"></li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="navbar-nav navbar-left">
                            <a href="{{ path('fos_user_security_login') }}">
                                <i class="fa fa-sign-in"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                            {#<a class="btn btn-pink btn-sm btn-outline" data-toggle="modal" data-target="#modalLogin">#}
                            {#Connexion#}
                            {#</a>#}

                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#modalRegistration">
                                <i class="fa fa-user"></i> Inscription
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block body %}

        {% for type in ['success', 'danger'] %}
            {% for flashMessage in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>
                        <i class="fa fa-{{ type == 'success'? 'check': 'ban' }}"></i>
                        Notification
                    </h4>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% endfor %}

    {% endblock body %}

    <!-- Footer -->
    <footer id="footer" class="clearfix">
        <div id="footer-widgets">
            <div class="container">
                <div id="footer-wrapper">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div id="meta-4" class="widget widgetFooter widget_meta">
                                <h1 class="widgettitle">
                                    <img src="{{ asset('images/logo_blanc.png') }}" alt="Logo Pambé"
                                         class="img-responsive">
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore
                                    et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo
                                    consequat.
                                </p>
                            </div>
                        </div> <!-- end widget1 -->

                        <div class="col-md-4 col-sm-4">
                            <div id="meta-3" class="widget widgetFooter widget_meta">
                                <h4 class="widgettitle">Pages importantes :</h4>
                                <ul>
                                    <li><a href="{{ path('ws_core_homepage') }}"><i class="fa fa-home fa-fw"></i>
                                            Accueil</a></li>
                                    <li><a href="{{ path('ws_core_how_to') }}"><i class="fa fa-book"></i> Comment ça
                                            marche ?</a></li>
                                    <li><a href="{{ path('ws_core_contact') }}"><i class="fa fa-phone"></i> Nous
                                            contacter</a></li>
                                    <li><a href="{{ path('ws_core_about') }}"><i class="fa fa-info-circle"></i> A propos</a>
                                    </li>
                                </ul>
                            </div>
                        </div> <!-- end widget1 -->

                        <div class="col-md-4 col-sm-4">
                            <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                                <h4 class="widgettitle">Sur les réseaux sociaux :</h4>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/workerssearch" target="_blank">
                                            <i class="fa fa-facebook"></i> Facebook
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/workerssearch" target="_blank">
                                            <i class="fa fa-twitter"></i> Twitter
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.youtube.com/workerssearch" target="_blank">
                                            <i class="fa fa-youtube"></i> Youtube
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> <!-- end widget2 -->
                    </div> <!-- end .row -->
                </div> <!-- end #footer-wrapper -->
            </div> <!-- end .container -->
        </div> <!-- end #footer-widgets -->

        <div id="sub-floor">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6 copyright" style="text-align: right;">
                        Copyright Pambé © 2016 | Tous droits réservés.
                    </div>
                </div> <!-- end .row -->
            </div>
        </div>
    </footer>

    {# Modal login #}
    {#{% include 'WSCoreBundle:Core:modal_login.html.twig' %}#}

    {# Modal registration #}
    {% include 'WSCoreBundle:Core:modal_registration.html.twig' %}
{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#project').mouseover(function () {
                $('#form_search').attr("action", "{{ path('ws_core_result_project') }}");
            });
            $('#freelance').mouseover(function () {
                $('#form_search').attr("action", "{{ path('ws_core_result_freelance') }}");
            });

            $('#project').mouseleave(function () {
                $('#form_search').attr("action", "#");
            });
            $('#freelance').mouseleave(function () {
                $('#form_search').attr("action", "#");
            });
        });
    </script>
{% endblock %}


