{% extends 'WSCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock title %}

{% block body %}
    <!-- Results of Search -->
    <div class="results-search">
        <div class="container">
            <h1 class="page-header" style="margin-top: 25px; text-align: center;">
                Résultats de la recherche
            </h1>
            <div class="row">
                {% if searched == 'freelances' %}

                    {% if results|length == 0 %}
                        Aucun freelance trouvé !!
                    {% else %}
                        {% if not (is_granted('ROLE_CLIENT') or is_granted('ROLE_FREELANCE')) %}
                            <i style="color: red;">
                                Se connecter en tant que 'Freelance' ou 'Donneur de missions' pour pouvoir soliciter des freelances!
                            </i>
                        {% endif %}
                        <div class="panel panel-default">
                            <table id="_table_tool" class="table table-striped table-hover table-dynamic" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">Freelances</th>
                                </tr>
                                </thead>
                                <tbody id="_tbody">
                                {% for r in results %}
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    {{ r.prenom }} {{ r.nom }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ r.rating | rating }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Compétences</th>
                                                            <th>Année(s) d'expérience</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for c in r.competences %}
                                                            <tr>
                                                                <td>{{ c.libel }}</td>
                                                                <td>{{ c.nbAnneeExp }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_FREELANCE') %}
                                                    <div class="col-md-2 col-md-offset-10">
                                                        <a href="#" class="btn btn-default">
                                                            Soliciter
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                {% else %}

                    {% if results|length == 0 %}
                        Aucune mission trouvée !!
                    {% else %}
                        {% if not is_granted('ROLE_FREELANCE') %}
                            <i style="color: red;">Se connecter en tant que 'Freelance' pour pouvoir postuler aux missions!</i>
                        {% endif %}
                        <div class="panel panel-default">
                            <table id="_table_tool" class="table table-striped table-hover table-dynamic" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">Missions</th>
                                </tr>
                                </thead>
                                <tbody id="_tbody">
                                {% for r in results %}
                                    <tr>
                                        <td>
                                            <div class="row">
                                                {% if is_granted('ROLE_FREELANCE') %}
                                                    <div class="col-md-8">
                                                    {% else %}
                                                    <div class="col-md-12">
                                                {% endif %}
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Objet : {{ r.object }}
                                                            </div>
                                                            <div class="col-md-4">
                                                                Date de début : {{ r.startDate | localizeddate('long', 'none', app.request.locale) }}
                                                            </div>
                                                            <div class="col-md-4">
                                                                Lieu : {{ r.place }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">Durée : {{ r.duration }} jour(s)</div>
                                                            <div class="col-md-4">Budget : {{ r.budget }} FCFA</div>
                                                            <div class="col-md-4"></div>
                                                        </div>
                                                    </div>
                                                {% if is_granted('ROLE_FREELANCE') %}
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="control-label">
                                                                        Proposer un coût
                                                                    </div>
                                                                    <input type="number" class="form-control" id="cout" required="required">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="control-label">
                                                                        Proposer une durée
                                                                    </div>
                                                                    <input type="date" class="form-control" id="cout" required="required">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-9 col-md-offset-3">
                                                                <div id="_loading_postule{{ r.id }}"></div>
                                                                <a class="btn btn-default" data-toggle="modal" data-target="#modalform">
                                                                    Détails
                                                                </a>
                                                                <a id="{{ r.id }}" class="btn btn-default _postule">
                                                                    Postuler
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% include 'WSCoreBundle:Search:modal_detail.html.twig' with { 'm': r } %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            // Postule Mission
            $("._postule").click(function () {
                var id = $(this).attr("id");
                $.ajax({
                    type: 'post',
                    url: Routing.generate('ws_core_postule_mission', { id: id }),
                    beforeSend: function () {
                        $("#_loading_postule"+id).parent().append('<center><img src="{{ asset('images/loading.gif') }}" id="_gif"></center>');
                        $("#"+id).hide();
                    },
                    success: function (data) {
                        $("#_gif").remove();
                        $("#_loading_postule"+id).parent().append('<center><i>Postulée !</i></center>');
                    },
                    error: function (data) {
                        console.log(data);
                        $("#_gif").remove();
                        $("#"+id).show();
                    }
                });
            });


        });
    </script>
{% endblock %}