{% extends 'WSCoreBundle::layout.html.twig' %}

{% block title %}
    Déposer une mission - {{ parent() }}
{% endblock title %}

{% block body %}
    <!-- Déposer une mission -->
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            <h1 class="page-header" style="margin-top: 0; text-align: center">Déposer une mission</h1>
            <div class="row">

                <form {{ form_enctype(form) }} method="POST" autocomplete="off">
                    {{ form_errors(form) }}

                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.object, 'Objet', { 'attr' : { 'class' : 'control-label'} }) }}
                            {{ form_widget(form.object, { 'attr' : { 'class' : 'form-control object'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.description, 'Description', { 'attr' : { 'class' : 'control-label'} }) }}
                            {{ form_widget(form.description, { 'attr' : { 'class' : 'form-control description'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.startDate, 'Date de début', { 'attr' : { 'class' : 'control-label'} }) }}
                            <div class="row">
                                <div class="col-md-4">{{ form_widget(form.startDate.date.day, { 'attr' : { 'class' : 'form-control'} }) }}</div>
                                <div class="col-md-4">{{ form_widget(form.startDate.date.month, { 'attr' : { 'class' : 'form-control'} }) }}</div>
                                <div class="col-md-4">{{ form_widget(form.startDate.date.year, { 'attr' : { 'class' : 'form-control'} }) }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.duration, 'Durée', { 'attr' : { 'class' : 'control-label'} }) }}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_widget(form.duration, { 'attr' : { 'class' : 'form-control duration'} }) }}
                                </div>
                                <div class="col-md-6">
                                    <div class="form-control">En jour.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.budget, 'Budget', { 'attr' : { 'class' : 'control-label'} }) }}
                            {{ form_widget(form.budget, { 'attr' : { 'class' : 'form-control budget'} }) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.country, 'Pays', { 'attr' : { 'class' : 'control-label'} }) }}
                            {{ form_widget(form.country, { 'attr' : { 'class' : 'form-control country'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.place, 'Lieu', { 'attr' : { 'class' : 'control-label'} }) }}
                            {{ form_widget(form.place, { 'attr' : { 'class' : 'form-control place'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.domains, 'Domaines', { 'attr' : { 'class' : 'control-label'} }) }}
                            {{ form_widget(form.domains, { 'attr' : { 'class' : 'form-control domains'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.fichier.file, 'Attacher un fichier', { 'attr' : { 'class' : 'control-label'} }) }}
                            {{ form_widget(form.fichier.file, { 'attr' : { 'class' : 'form-control fichier'} }) }}
                        </div>
                    </div>
                    <span class="hidden"> {{ form_rest(form) }} </span>

                    <div class="col-sm-9 col-sm-offset-3" style="margin-top: 40px;">
                        <div class="pull-right">
                            <div id="_loading"></div>
                            <input type="submit" id="_submit" name="_submit" value="Déposer la mission" class="btn btn-info"/>
                        </div>
                    </div>
                </form>

            </div>

        {% else %}

            Vous dever au préalable vous connecter si vous avez un compte, sinon vous inscrire!

        {% endif %}

    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {

            $('.domains').multiselect({
                maxHeight: 200,
                enableFiltering: true,
                buttonText: function(options, select) {
                    if (options.length === 0) {
                        return 'Aucun domaine sélectionné ...';
                    }
                    else if (options.length > 3) {
                        return 'Plus de 3 domaines sélectionnés!';
                    } else {
                        var labels = [];
                        options.each(function() {
                            if ($(this).attr('label') !== undefined) {
                                labels.push($(this).attr('label'));
                            }
                            else {
                                labels.push($(this).html());
                            }
                        });
                        return labels.join(', ') + '';
                    }
                }
            });

            $("#"+$(".fichier").attr("id")).fileinput({
                language: "{{ app.request.locale }}",
                showCaption: true,
                showUpload: false,
                uploadAsync: true,
                allowedFileExtensions : ['txt', 'pdf', 'docx', 'pptx', 'csv', 'xlsx']
            });

//            $("#_submit").click(function () {
//                var mission = {
//                    'object': $('.object').val(),
//                    'description': $('.description').val(),
//                    'startDate' : $('.startDate').val(),
//                    'duration': $('.duration').val(),
//                    'budget' : $('.budget').val(),
//                    'country' : $('.country').val(),
//                    'place' : $('.place').val(),
//                    'domains': $('select#categories').val()
//                };
//                console.log(mission);
//            });


//            $('#categories').multiselect({
//                enableCollapsibleOptGroups: true,
//                enableClickableOptGroups: true,
//                enableFiltering: true,
//                maxHeight: 200,
//                buttonText: function(options, select) {
//                    if (options.length === 0) {
//                        return 'Aucun domaine sélectionné ...';
//                    }
//                    else if (options.length > 3) {
//                        return 'Plus de 3 domaines sélectionnés!';
//                    } else {
//                        var labels = [];
//                        options.each(function() {
//                            if ($(this).attr('label') !== undefined) {
//                                labels.push($(this).attr('label'));
//                            }
//                            else {
//                                labels.push($(this).html());
//                            }
//                        });
//                        return labels.join(', ') + '';
//                    }
//                }
//            });

        });
    </script>

{% endblock %}