{% extends 'WSCoreBundle::layout.html.twig'%}

{% block title %}
  A propos - {{ parent() }}
{% endblock title %}

{% block body %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">A propos de nous</h1>
        <ol class="breadcrumb">
          <li><a href="{{ path('ws_core_homepage') }}">Accueil</a>
          </li>
          <li class="active">A propos</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
      <div class="col-md-6">
        <img class="img-responsive" src="{{ asset('images/banner2.jpg') }}" alt="">
      </div>
      <div class="col-md-6">
        <h1>Pambé</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row">
      <div class="our-team">
        <div class="col-lg-12">
          <h2 class="page-header">Notre équipe</h2>
        </div>
        <div class="col-md-6 text-center">
          <div class="thumbnail">
            <img class="img-responsive img-circle img-team-user" src="{{ asset('images/darius.jpg') }}" alt="">
            <div class="caption">
              <h3>Darius Clinton Tsafack<br>
                <small>Ingénieur logiciel</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="thumbnail">
            <img class="img-responsive img-circle img-team-user" src="{{ asset('images/aurelien.jpg') }}" alt="">
            <div class="caption">
              <h3>Téguia Kouam Aurélien<br>
                <small>Ingénieur logiciel</small>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
{% endblock body %}