{% extends 'WSCoreBundle::layout.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock title %}

{% block body %}
  <!-- Header Carousel -->
  {# style="background-image: url('{{ asset('images/freelancer-banner.jpg') }}')" #}
  <header class="barner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block-info">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-white">Besoin de freelances pour votre projet ?</h1>
                <h3 class="text-white">Déposez gratuitement votre projet et les freelances vous contacteront</h3>
              </div>
            </div>
          </div>
          <form action="#">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="projetName" class="form-control input-lg col-md-7"
                       placeholder="Exp: Refonte site web, Développer jeux 3D">
              </div>
              <button type="submit" class="btn btn-lg btn-default btn-pink col-md-2">Déposer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  {# wellcome #}
  <div class="wellcome bg-grey">
    <div class="container">
      <br><br>
      <div class="row">
        <div class="col-md-6">
          <div class="panel">
            <div class="panel-body">
              <h1 class="text-green"><i class="fa fa-edit"></i> Je suis donneur de projet</h1>
              <p>
                Vous avez du travail à réaliser et vous recherchez de la main d'oeuvre de qualité ? <br>
                Vous êtes justement au bon endroit, désormais vous ferez cela en quelques minutes seulement.
              </p>
              <h4>
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-green"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                <a href="#">Déposez votre projet</a><br>
              </h4>
              <h4>
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-green"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                Les freelances vous contactent<br>
              </h4>
              <h4>
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-green"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                Choisissez vos freelances<br>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel">
            <div class="panel-body">
              <h1 class="text-pink"><i class="fa fa-check-square-o"></i> Je suis freelance</h1>
              <p>
                Vous avez des compétences de qualités et vous aimerez les mettre au services des autres ?
                Vous pourrez désormais le faire facilement en quelques clics. <br>
                Vous êtes par la suite notifié des projets que vous pourrez réaliser.
              </p>
              <h4>
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-pink"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                <a href="#">Devenez freelance</a><br>
              </h4>
              <h4>
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-pink"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                Remplissez votre profil<br>
              </h4>
              <h4>
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-pink"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                Postulez aux projets<br>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div> {# ./container #}
  </div>
  {# ./wellcome #}
  <!-- domains section -->
  <div class="domains">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="page-header text-center">Les domaines par catégories </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <a class="thumbnail bg-green" href="#"
                 style="background-image: url({{ asset('images/dev-web3.jpg') }}); background-size: cover;
                     background-position: left top">
                <h4>Web</h4>
              </a>
            </div>
            <div class="col-md-3 col-sm-4">
              <a class="thumbnail bg-green" href="#"
                 style="background-image: url({{ asset('images/ecommerce2.jpg') }}); background-size: cover;
                     background-position: left top">
                <h4>E-commerce</h4>
              </a>
            </div>
            <div class="col-md-3 col-sm-4">
              <a class="thumbnail bg-green" href="#"
                 style="background-image: url({{ asset('images/graphisme3.jpg') }}); background-size: cover;
                     background-position: left top">
                <h4>Graphisme</h4>
              </a>
            </div>
            <div class="col-md-3 col-sm-4">
              <a class="thumbnail bg-green" href="#"
                 style="background-image: url({{ asset('images/dev2.jpg') }}); background-size: cover;">
                <h4>Développement</h4>
              </a>
            </div>
            <div class="col-md-3 col-sm-4">
              <a class="thumbnail bg-green" href="#"
                 style="background-image: url({{ asset('images/entreprise3.jpg') }}); background-size: cover;">
                <h4>Systèmes d'entreprise</h4>
              </a>
            </div>
            <div class="col-md-3 col-sm-4">
              <a class="thumbnail bg-green" href="#"
                 style="background-image: url({{ asset('images/webmarketing2.jpg') }}); background-size: cover;">
                <h4>Webmarketing</h4>
              </a>
            </div>
            <div class="col-md-3 col-sm-4">
              <a class="thumbnail bg-green" href="#"
                 style="background-image: url({{ asset('images/reseau.jpg') }}); background-size: cover">
                <h4>Réseaux informatiques</h4>
              </a>
            </div>
            <div class="col-md-3 col-sm-4">
              <a class="thumbnail bg-green" href="#"
                 style="background-image: url({{ asset('images/other.jpg') }}); background-size: cover;">
                <h4>Autres services</h4>
              </a>
            </div>
            {# {% for d in domains %}
              <div class="col-md-3">
                <a class="thumbnail"  href="#"
                style="background-image: url({{ asset('uploads/images/'~d.image) }}); background-size: cover">
                  <h4>Autres services</h4>
                </a>
              </div>
              <div class="col-md-3">
                <div class="thumbnail">
                  <a href="#"><img src="{{ asset('uploads/images/'~d.image) }}" alt="..."></a>
                  <div class="caption">
                    <p><span class="badge badge-pink">{{ d.freelances | length }}</span> Freelance(s)</p>
                    <h3>{{ d.libel }}</h3>
                    <hr>
                    <p><a href="{{ path("ws_core_find_freelance_by_domain", {'id' : d.id}) }}" class="btn btn-primary btn-block btn-sm">Rechercher</a></p>
                  </div>
                </div>
              </div>
            {% endfor %} #}
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /.domains section -->

  {# last-misisons #}
  {#  <div class="last-missions">
     <div class="container">
       <h3 class="page-header">Missions récemment postées</h3>
         <div class="row">
           {% for d in 1..0 %}
             <div class="col-md-6">
               <h3><a href="#">Refonte de site web Joomla!</a></h3>
               <p class="text-muted">
                 <span><i class="fa fa-clock-o"></i> 26/12/2016 12h:08</span> |
                 <span><i class="fa fa-money"></i> 150000 FCFA</span> |
                 <span><i class="fa fa-comments-o"></i> 3</span>
               </p>
               <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               </p>
               <p>
                 <span class="label label-default">Developpement android</span>
                 <span class="label label-default">Backend symfony3</span>
                 <span class="label label-default">AngularJS</span>
               </p>
             </div>
           {% endfor %}
         </div>
       <hr>
       <ul class="pagination pull-right">
         <li><a href="#">&laquo;</a></li>
         <li><a href="#">1</a></li>
         <li><a href="#">2</a></li>
         <li><a href="#">3</a></li>
         <li><a href="#">4</a></li>
         <li><a href="#">5</a></li>
         <li><a href="#">&raquo;</a></li>
       </ul>
     </div> <!-- ./container -->
   </div> #}
  {# ./last-missions #}

  <!-- statistics -->
  <div class="statistics">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="page-header text-bold">Un pôle du freelance</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
          </span>
          <p><b>Donneurs de projets</b><br> 240 inscrits, offrant des projets</p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-check-square-o fa-stack-1x fa-inverse"></i>
          </span>
          <p><b>Freelances</b> <br>4500 Freelances inscrits et disponibles </p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
          </span>
          <p><b>Projets</b> <br>400 Projets soumis </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.statistics -->

  <!-- testimonial Section -->
  <div class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="text-bold">Pambé, on en parle</h1>
          <br>
        </div>
      </div>
    </div>
    <div class="carousel-reviews broun-block">
      <div class="container">
        <div id="carousel-reviews" class="carousel slide" data-ride="carousel" data-interval="10000">

          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-4 col-sm-6">
                <div class="block-text rel zmin">
                  <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why
                    would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is
                    brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't
                    enough to dissuade ...</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="{{ asset('images/img.jpg') }}" class="img-circle">
                  <a title="" href="#">Peter Mc Donald</a>
                  <i>Cameroun</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                  <p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a
                    pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon
                    seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we
                    really don't need another one of these." </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="{{ asset('images/aurelien.jpg') }}" class="img-circle">
                  <a title="" href="#">Aurelien Tegus</a>
                  <i>Nigeria</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                <div class="block-text rel zmin">
                  <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in
                    this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering
                    if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film
                    that </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="{{ asset('images/avatar.png') }}" class="img-circle">
                  <a title="" href="#">Rannynm</a>
                  <i>Cameroun</i>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-4 col-sm-6">
                <div class="block-text rel zmin">
                  <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why
                    would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is
                    brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't
                    enough to dissuade ...</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="{{ asset('images/darius.jpg') }}" class="img-circle">
                  <a title="" href="#">Anna</a>
                  <i>Gabon</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                  <p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a
                    pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon
                    seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we
                    really don't need another one of these." </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="{{ asset('images/aurelien.jpg') }}" class="img-circle">
                  <a title="" href="#">Ella Mentree</a>
                  <i>Côte d'ivoire</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                <div class="block-text rel zmin">
                  <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in
                    this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering
                    if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining
                    film. </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="{{ asset('images/avatar.png') }}" class="img-circle">
                  <a title="" href="#">Rannynm</a>
                  <i>Nigeria</i>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-4 col-sm-6">
                <div class="block-text rel zmin">
                  <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why
                    would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is
                    brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't
                    enough to dissuade ...</p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="{{ asset('images/darius.jpg') }}" class="img-circle">
                  <a title="" href="#">Anna</a>
                  <i>Nigeria</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-xs">
                <div class="block-text rel zmin">
                  <p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a
                    pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon
                    seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we
                    really don't need another one of these." </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="{{ asset('images/aurelien.jpg') }}" class="img-circle">
                  <a title="" href="#">Ella Mentree</a>
                  <i>Cameroun</i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                <div class="block-text rel zmin">
                  <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in
                    this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering
                    if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film
                    that is a fantastic sequel in this magical franchise. </p>
                  <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                </div>
                <div class="person-text rel">
                  <img alt="" src="{{ asset('images/darius.jpg') }}" class="img-circle">
                  <a title="" href="#">Rannynm</a>
                  <i>Côte d'ivoire</i>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- testimonial section -->
{% endblock body %}
