<div class="col-md-12">
  <h1 class="page-header text-center">Inscription freelance</h1>
  <form action="{{ path('freelancer_registration') }}" {{ form_enctype(form) }} method="POST" autocomplete="off">
    {#{{ form_widget(form) }}#}

    {{ form_errors(form) }}

    <div class="form-group">
      {{ form_label(form.email, 'Email', { 'attr' : { 'class' : 'control-label'} }) }} <span class="asterisk red">*</span>
      {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control'} }) }}
    </div>

    <div class="form-group">
      {{ form_label(form.username, "Nom d'utilisateur", { 'attr' : { 'class' : 'control-label'} }) }} <span class="asterisk red">*</span>
      {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control'} }) }}
    </div>

    <div class="form-group">
      {{ form_label(form.plainPassword.first, 'Mot de passe', { 'attr' : { 'class' : 'control-label'} }) }} <span class="asterisk red">*</span>
      {{ form_widget(form.plainPassword.first, { 'attr' : { 'class' : 'form-control'} }) }}
    </div>

    <div class="form-group">
      {{ form_label(form.plainPassword.second, 'Confirmer Mot de passe', { 'attr' : { 'class' : 'control-label'} }) }} <span class="asterisk red">*</span>
      {{ form_widget(form.plainPassword.second, { 'attr' : { 'class' : 'form-control'} }) }}
    </div>

    <div class="form-group">
      {{ form_label(form.sexe, 'Sexe', { 'attr' : { 'class' : 'control-label'} }) }}
      {{ form_widget(form.sexe, { 'attr' : { 'class' : 'form-control'} }) }}
    </div>

    <div class="form-group">
      {{ form_label(form.country, 'Pays', { 'attr' : { 'class' : 'control-label'} }) }} <span class="asterisk red">*</span>
      {{ form_widget(form.country, { 'attr' : { 'class' : 'form-control', 'required' : 'required' } }) }}
    </div>

    <div class="form-group">
      {{ form_label(form.nom, 'Nom', { 'attr' : { 'class' : 'control-label'} }) }}
      {{ form_widget(form.nom, { 'attr' : { 'class' : 'form-control', 'required' : 'required' } }) }}
    </div>

    <div class="form-group">
      {{ form_label(form.prenom, 'Prénom', { 'attr' : { 'class' : 'control-label'} }) }}
      {{ form_widget(form.prenom, { 'attr' : { 'class' : 'form-control', 'required' : 'required' } }) }}
    </div>

    <div class="form-group">
      {{ form_label(form.adresse, 'Adresse', { 'attr' : { 'class' : 'control-label'} }) }}
      {{ form_widget(form.adresse, { 'attr' : { 'class' : 'form-control'} }) }}
    </div>

    <div class="form-group">
      <input type="submit" id="_submit" name="_submit" value="S'inscrire"
             class="btn btn-primary btn-block btn-lg"/>
    </div>
    <span class="hidden"> {{ form_rest(form) }} </span>
  </form>

</div>