{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />#}
    {#</div>#}
{#{{ form_end(form) }}#}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" autocomplete="off">

    {{ form_errors(form) }}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                {{ form_label(form.email, 'Email', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }} <span class="asterisk red">*</span>
                {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.username, 'Pseudo', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }} <span class="asterisk red">*</span>
                {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.nom, 'Nom', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                {{ form_widget(form.nom, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.prenom, 'Prénom', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                {{ form_widget(form.prenom, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                {{ form_label(form.country, 'Pays', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }} <span class="asterisk red">*</span>
                {{ form_widget(form.country, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
            </div>

            {% if is_granted('ROLE_FREELANCE') %}
                <div class="form-group">
                    {{ form_label(form.sexe, 'Sexe', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                    {{ form_widget(form.sexe, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                </div>
            {% endif %}

            {% if is_granted('ROLE_CLIENT') %}
                <div class="form-group">
                    {{ form_label(form.siteWeb, 'Site Web', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                    {{ form_widget(form.siteWeb, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label(form.adresse, 'Adresse', { 'attr' : { 'class' : 'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                {{ form_widget(form.adresse, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.current_password, 'Mot de passe actuel', { 'attr' : { 'class' : 'control-label'} }) }}
                {{ form_widget(form.current_password, { 'attr' : { 'class' : 'form-control'} }) }}
                {{ form_errors(form.current_password) }}
            </div>
        </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3" style="margin-top: 40px;">
        <div class="pull-right">
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-success"/>
        </div>
    </div>
    <span class="hidden"> {{ form_rest(form) }} </span>

</form>
