{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
  Profile - {{ parent() }}
{% endblock title %}

{% block fos_user_content %}

  <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
        {% block breadcrumb %}
        {% endblock breadcrumb %}
      </ol>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 30px;">
      <div class="col-md-3">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
      </div>
      <div class="col-md-9">
        <div class="row">
          {% for type in ['success', 'danger'] %}
            {% for flashMessage in app.session.flashbag.get(type) %}
              <div class="alert alert-{{ type }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>
                  <i class="fa fa-{{ type == 'success'? 'check': 'ban' }}"></i>
                  Notification
                </h4>
                {{ flashMessage }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>

        {% block sideright %}

          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h5 class="panel-title">Noms et Prénoms</h5>
                </div>
                <div class="panel-body">
                  <h3>
                    <span class="label label-default">{{ user.prenom }} {{ user.nom }}</span>
                  </h3>
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Pseudo</h3>
                </div>
                <div class="panel-body">
                  <h3>
                    <span class="label label-default">{{ user.username }}</span>
                  </h3>
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Email</h3>
                </div>
                <div class="panel-body">
                  <h3>
                    <span class="label label-default">{{ user.email }}</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Pays</h3>
                </div>
                <div class="panel-body">
                  <h3>
                    {#{{ user.country | country(app.request.locale) }}#}
                    <span class="label label-default"></span>
                  </h3>
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading">
                  <h5 class="panel-title">Adresse</h5>
                </div>
                <div class="panel-body">
                  <h3>
                    <span class="label label-default">{{ user.adresse }}</span>
                  </h3>
                </div>
              </div>

              {% if is_granted('ROLE_FREELANCE') %}
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h5 class="panel-title">Sexe</h5>
                  </div>
                  <div class="panel-body">
                    <h3>
                      <span class="label label-default">{{ user.sexe }}</span>
                    </h3>
                  </div>
                </div>
              {% else %}
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h5 class="panel-title">Site Web</h5>
                  </div>
                  <div class="panel-body">
                    <h3>
                      <span class="label label-default">{{ user.siteWeb }}</span>
                    </h3>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

        {% endblock sideright %}
      </div>
    </div>
  </div>

{% endblock fos_user_content %}

{% block javascripts %}
  {{ parent() }}

  <script>
    $(function () {

      var elmt = document.getElementById("imgprofil");

      $(".thumbnail").mouseover(function () {
        elmt.style.opacity = "0.4";
        $(".info").append('<center>Modifier <i class="fa fa-pencil-square-o"></i></center>');
      });

      $(".thumbnail").mouseout(function () {
        elmt.style.opacity = "1";
        $(".info").html("");
      })

    });
  </script>
{% endblock %}

